.invalid{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI0U3MUYxRiIgY2xhc3M9ImJpIGJpLWV4Y2xhbWF0aW9uLWNpcmNsZSIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCAxNUE3IDcgMCAxIDEgOCAxYTcgNyAwIDAgMSAwIDE0em0wIDFBOCA4IDAgMSAwIDggMGE4IDggMCAwIDAgMCAxNnoiLz4KICA8cGF0aCBkPSJNNy4wMDIgMTFhMSAxIDAgMSAxIDIgMCAxIDEgMCAwIDEtMiAwek03LjEgNC45OTVhLjkwNS45MDUgMCAxIDEgMS44IDBsLS4zNSAzLjUwN2EuNTUyLjU1MiAwIDAgMS0xLjEgMEw3LjEgNC45OTV6Ii8+Cjwvc3ZnPg==");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% center;
}
.valid{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0icmdiKDMsIDE3NiwgMykiIGNsYXNzPSJiaSBiaS1jaGVjay1sZyIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMTIuNzM2IDMuOTdhLjczMy43MzMgMCAwIDEgMS4wNDcgMGMuMjg2LjI4OS4yOS43NTYuMDEgMS4wNUw3Ljg4IDEyLjAxYS43MzMuNzMzIDAgMCAxLTEuMDY1LjAyTDMuMjE3IDguMzg0YS43NTcuNzU3IDAgMCAxIDAtMS4wNi43MzMuNzMzIDAgMCAxIDEuMDQ3IDBsMy4wNTIgMy4wOTMgNS40LTYuNDI1YS4yNDcuMjQ3IDAgMCAxIC4wMi0uMDIyWiIvPgo8L3N2Zz4=");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% center;
}
.feedbackMsg{
    color: rgb(231, 31, 31);
    font-size: 0.9em;
}
.strong-password{
    color: rgb(3, 176, 3);
    font-weight: 600;
}
.medium-password{
    color: rgb(226, 226, 76);
}
.weak-password{
    color: rgb(231, 31, 31);
}