.invalid{
    background-image: url() ;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% center;
}
.valid{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI0U3MUYxRiIgY2xhc3M9ImJpIGJpLWNoZWNrLWxnIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0xMi43MzYgMy45N2EuNzMzLjczMyAwIDAgMSAxLjA0NyAwYy4yODYuMjg5LjI5Ljc1Ni4wMSAxLjA1TDcuODggMTIuMDFhLjczMy43MzMgMCAwIDEtMS4wNjUuMDJMMy4yMTcgOC4zODRhLjc1Ny43NTcgMCAwIDEgMC0xLjA2LjczMy43MzMgMCAwIDEgMS4wNDcgMGwzLjA1MiAzLjA5MyA1LjQtNi40MjVhLjI0Ny4yNDcgMCAwIDEgLjAyLS4wMjJaIi8+Cjwvc3ZnPg==);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 98% center;
}
.feedbackMsg{
    color: rgb(231, 31, 31);
    font-size: 0.9em;
}
.strong-password{
    color: rgb(3, 176, 3);
    font-weight: 600;
}
.medium-password{
    color: rgb(226, 226, 76);
}
.weak-password{
    color: rgb(231, 31, 31);
}
